@page
@model CheckList.Models.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="body-centered">
    <div class="right-container">
        <ol>
            <li>Right container</li>
        </ol>
    </div>
    <div class="left-container">
        <ol>
            <li>Left container</li>
        </ol>
    </div>
</div>